* {
  text-decoration: none !important;
  color: white !important;
}


body {
  margin: 0;
  background-color: #262324;
  font-family: 'Muli', sans-serif;
}

h1 {
  transform: translate3d(+151px, 0, 0);
}


#wrap {
  margin: 0;
  display: flex;
  transition: transform .4s cubic-bezier(.25, .1, .25, 1);
}


#wrap:not(:target) {
  transform: translate3d(-335px, 0, 0);
}

#wrap:target {
  transform: translate3d(0, 0, 0);
}

#open,
#close {
  height: 44px;
  text-align: right;
  display: block;
  margin-right: -30px;
}

#close {
  font-size: 26px;
}

#wrap:target #open,
#wrap:not(:target) #close {
  display: none;
}

#wrap:target #open {
  display: none;
}

.nav {
  padding: 25px;
}

.nav a{
  color: white;
  display: block;
}

.header {
  background: #e25346;
  width: 360px;
  padding: 0 20px;
  display:inline-block;
  vertical-align:top;
  color: white;
}

.main {
  padding: 25px;
  flex: 1;
  display:inline-block;
}

section {
  min-height: 85vh;
}

.Titre1 {
  text-align: center;
}

ul {
  list-style:none;
  margin-left: 10px;
  padding-left: 10px;
}

li {
  line-height: 40px;
  font-weight: bold;
}

#nav:target + .backdrop {
  display: block;
  background: rgba(250, 255, 177, 0.8);
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index: 998;
}




/* Galaxy */

@keyframes rotation01 {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(360deg);
		}
}

@keyframes rotation02 {
		from {
				transform: rotate(360deg);
		}
		to {
				transform: rotate(0deg);
		}
}

.Galaxy {
  background: green;
  max-width: 600px;
  position: relative;
  text-align: center;

}

.Galaxy img {
  position: absolute;
  top : 0;
  width: 100%;

}

.X-wing{
    animation: rotation01 25s infinite linear;
}

.Death-star{
    animation: rotation02 70s infinite linear;

}

.Chasseurs {
    animation: rotation01 30s infinite linear;
}

.Faucon {
    animation: rotation02 10s infinite linear;

}

.V-wing {
    animation: rotation01 20s infinite linear;
}


/* Abécédaire */

#containerabc:target {
  transform: translate3d(+172px, 0, 0);
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: space-around;
  height: 300px;
}

article {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  background-color: #e25346;
  font-size: 150px;
  text-align: center;
  position: relative;
}

article img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}



article p {
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

article:hover img,
article:hover p {
  opacity: 1;
}

article span {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

article:hover span {
  opacity: 0;
}

/* Loading Abécédaire */

.Loader {
    animation: rotation01 3s infinite linear;
}
